@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
body {
  background: linear-gradient(180deg, rgb(240, 42, 42), rgb(51, 51, 240) 100%);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}